<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvMhppqgjvDjNoO0TGvzjO6Qil3FPh-Js</string>
	<key>GCM_SENDER_ID</key>
	<string>997699136930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examole.investify</string>
	<key>PROJECT_ID</key>
	<string>investify-2e850</string>
	<key>STORAGE_BUCKET</key>
	<string>investify-2e850.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997699136930:ios:1c81533fbf5cc7213256fb</string>
</dict>
</plist>